<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/address.css">
    <script src="../static/js/rem.js"></script>
    <title>Document</title>
</head>
<body onload="loaded()">
    <!--头部-->
    <header>
        <span>首页</span>
        <span>电子合同</span>
        <span>租赁规则</span>
        <span>免押金申请</span>
    </header>
    <!--地址-->
    <section  class="address">
        <div class="address-head">
            <div class="head-img">
                <img src="../static/img/address.png" alt="">
            </div>
            <div class="head-span">
                <p>收货地址</p>
            </div>
            <div class="head-kong"></div>
        </div>
        <div id="wrapper">
            <ul class="address-content">
                <li>
                    <div class="information">
                        <p>薄荷1</p>
                        <p>1870078240</p>
                    </div>
                    <div class="add-infor">
                        <p>陕西省西安市雁塔区紫薇田园都市F区390号1</p>
                    </div>
                    <div class="editor">
                        <div class="edi">
                            <p>编辑</p>
                            <p>|</p>
                            <p>删除</p>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="information">
                        <p>薄荷2</p>
                        <p>1870078240</p>
                    </div>
                    <div class="add-infor">
                        <p>陕西省西安市雁塔区紫薇田园都市F区390号2</p>
                    </div>
                    <div class="editor">
                        <div class="edi">
                            <p>编辑</p>
                            <p>|</p>
                            <p>删除</p>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="information">
                        <p>薄荷3</p>
                        <p>1870078240</p>
                    </div>
                    <div class="add-infor">
                        <p>陕西省西安市雁塔区紫薇田园都市F区390号3</p>
                    </div>
                    <div class="editor">
                        <div class="edi">
                            <p>编辑</p>
                            <p>|</p>
                            <p>删除</p>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="information">
                        <p>薄荷4</p>
                        <p>1870078240</p>
                    </div>
                    <div class="add-infor">
                        <p>陕西省西安市雁塔区紫薇田园都市F区390号4</p>
                    </div>
                    <div class="editor">
                        <div class="edi">
                            <p>编辑</p>
                            <p>|</p>
                            <p>删除</p>
                        </div>

                    </div>
                </li>
            </ul>
        </div>

        <div class="btn"><button>新增地址</button></div>
    </section>
    <!--新建地址-->
    <section class="create" style="display: none">
        <div class="create-head">
            <div class="head-img">
                <img src="../static/img/address.png" alt="">
            </div>
            <div class="head-span">
                <p>新建收货地址</p>
            </div>
            <div class="head-kong"></div>
        </div>
        <div class="create-new">
            <div class="new-people">
                <p>收&nbsp;&nbsp;货&nbsp;&nbsp;人<input type="text" placeholder="请填写收货人"></p>
            </div>
            <div class="new-phone">
                <p>手机号码<input type="text" placeholder="请输入手机号码"></p>
            </div>
            <div class="new-add">
                <p>详细地址<input type="text" placeholder="请填写详细地址 "></p>
            </div>
        </div>
        <div class="btn"><button>保存</button></div>
    </section>
    <!--修改地址-->
    <section  style="display: none" class="amend" >
        <div class="amend-head">
            <div class="head-img">
                <img src="../static/img/address.png" alt="">
            </div>
            <div class="head-span">
                <p>修改收货地址</p>
            </div>
            <div class="head-kong"></div>
        </div>
        <div class="amend-new">
            <div class="new-people">
                <p>收&nbsp;&nbsp;货&nbsp;&nbsp;人<input type="text" placeholder="请填写收货人" value="薄荷"></p>
            </div>
            <div class="new-phone">
                <p>手机号码<input type="text" placeholder="请输入手机号码" value="1870078240"></p>
            </div>
            <div class="new-add">
                <p>详细地址<input type="text" placeholder="请填写详细地址 " value="西安市雁塔区紫薇田园都市F区390号"></p>
            </div>
        </div>
        <div class="btn"><button>保存</button></div>
    </section>
</body>
<script src="../static/js/iscroll.js"></script>
<script src="../static/js/address.js"></script>
</html>



