<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/rem.js"></script>
    <title>Document</title>
</head>
<body>
    <!--头部-->
    <header>
        <span>首页</span>
        <span>电子合同</span>
        <span>租赁规则</span>
        <span>免押金申请</span>
    </header>
    <!--banner-->
    <nav>
        <ul class="banner">
            <li>
                <a href="javascript:;"><img src="../static/img/banner.png" alt=""></a>
            </li>
            <li>
                <a href=""><img src="../static/img/banner2.png" alt=""></a>
            </li>
        </ul>
        <div class="dian">
            <div></div>
            <div></div>
        </div>
        <div class="login">
            <img src="../static/img/icon2.png" alt="">
            <p>已登录</p>
        </div>
    </nav>
    <!--显卡租赁-->
    <section class="card">
        <div class="card-head">
            <span><img src="../static/img/icon2.png" alt="">0元押金</span>
            <span><img src="../static/img/icon2.png" alt="">按月缴租</span>
            <span><img src="../static/img/icon2.png" alt="">退机无忧</span>
        </div>
        <div class="card-header">
            <span><b>显卡租赁</b></span>
        </div>
        <ul class="card-list">
            <li>
                <div class="card-list-tu"><img src="../static/img/pjt1-01.png" alt=""></div>
                <p>网吧单租 1063</p>
                <p>￥108元/月</p>
            </li>
            <li>
                <div class="card-list-tu"><img src="../static/img/pjt1-01.png" alt=""></div>
                <p>网吧单租 1063</p>
                <p>￥108元/月</p>
            </li>
            <li>
                <div class="card-list-tu"><img src="../static/img/pjt1-01.png" alt=""></div>
                <p>网吧单租 1063</p>
                <p>￥108元/月</p>
            </li>
        </ul>
    </section>
    <!--合同pact-->
    <section class="pact">
        <div class="picture">
            <img src="../static/img/ad.png" alt="">
        </div>
        <ul class="pact-list">
            <li>
                <img src="../static/img/ad1.png" alt="">
            </li>
            <li>
                <img src="../static/img/ad2.png" alt="">
            </li>
            <li>
                <img src="../static/img/ad3.png" alt="">
            </li>
        </ul>
    </section>
    <!--整机租赁1-->
    <section class="completeCard">
        <div class="completeCard-header">
            <span><b>整机+显示器</b></span>
        </div>
        <ul class="completeCard-picture">
            <li><img src="../static/img/ad4.png" alt=""></li>
            <li><img src="../static/img/ad5.png" alt=""></li>
        </ul>
    </section>
    <!--整机租赁2-->
    <section class="completeCard2">
        <div class="completeCard2-header">
            <span><b>整机租赁</b></span>
        </div>
        <ul class="completeCard2-list">
            <li>
                <div class="picture2">
                    <img src="../static/img/pjt2-01.png" alt="">
                </div>
                <div class="completeCard2-font">
                    <p>网吧 I5 8G 1063</p>
                    <p>￥200元/月</p>
                </div>
            </li>
            <li>
                <div class="picture2">
                    <img src="../static/img/pjt2-02.png" alt="">
                </div>
                <div class="completeCard2-font">
                    <p>网吧 I5 8G 1063</p>
                    <p>￥200元/月</p>
                </div>
            </li>
            <li>
                <div class="picture2">
                    <img src="../static/img/pjt2-03.png" alt="">
                </div>
                <div class="completeCard2-font">
                    <p>网吧 I5 8G 1063</p>
                    <p>￥200元/月</p>
                </div>
            </li>
            <li>
                <div class="picture2">
                    <img src="../static/img/pjt2-04.png" alt="">
                </div>
                <div class="completeCard2-font">
                    <p>网吧 I5 8G 1063</p>
                    <p>￥200元/月</p>
                </div>
            </li>
            <li>
                <div class="picture2">
                    <img src="../static/img/pjt2-05.png" alt="">
                </div>
                <div class="completeCard2-font">
                    <p>网吧 I5 8G 1063</p>
                    <p>￥200元/月</p>
                </div>
            </li>
            <li>
                <div class="picture2">
                    <img src="../static/img/pjt2-06.png" alt="">
                </div>
                <div class="completeCard2-font">
                    <p>网吧 I5 8G 1063</p>
                    <p>￥200元/月</p>
                </div>
            </li>
        </ul>
    </section>
    <!--底部-->
    <footer>
        <div class="company">
            <div class="company-img">
                <img src="../static/img/foot_logo.png" alt="">
            </div>
            <div class="company-font">
                © 2018年陕西趣租乐网络科技有限公司. 陕ICP备18010044号-1
            </div>
        </div>
    </footer>
    <!--返回顶部-->
    <div class="back">
        <img src="../static/img/icon3.png" alt="">
    </div>
</body>
<script src="../static/js/index.js"></script>
</html>



