<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/rem.js"></script>
    <title>Document</title>
</head>
<body>
    <main>
        <div class="logo">
            <img src="../static/img/login_logo.png" alt="">
        </div>
        <div style="display: block" class="login">
            <div class="login-font">
                <span>登录</span>
                <span>注册</span>
            </div>
            <div class="login-uer">
                <input type="text" placeholder="手机号">
                <input type="text" placeholder="密码">
            </div>
            <div class="login-pass">
                <div class="pass-login">
                    <p>忘记密码?</p>
                    <p>快速注册</p>
                </div>
                <button>登录</button>
            </div>
        </div>
        <div  style="display: none" class="register">
            <div class="register-font">
                <span>登录</span>
                <span>注册</span>
            </div>
            <div class="register-uer">
                <input type="text" placeholder="手机号">
                <input type="text" placeholder="密码">
                <input type="text" placeholder="再输入密码">
                <input type="text" placeholder="验证码">
                <div><p style="width: 100%;">获取验证码</p></div>
            </div>
            <button>注册</button>
        </div>
        <div  style="display: none" class="forget">
            <div class="forget-font">
                <span>忘记密码</span>
            </div>
            <div class="forget-uer">
                <input type="text" placeholder="手机号">
                <input type="text" placeholder="设置新密码">
                <input type="text" placeholder="请再输入新密码">
                <input type="text" placeholder="验证码">
                <div><p style="width: 100%;">获取验证码</p></div>
            </div>
            <button>立即登录</button>
        </div>
    </main>
</body>
<script src="../static/js/login.js"></script>
</html>