<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/rule.css">
    <link rel="stylesheet" href="../static/css/iconfont/iconfont.css">
    <script src="../static/js/rem.js"></script>
    <title>Document</title>
</head>
<body>
    <!--头部-->
    <header>
        <span>首页</span>
        <span>电子合同</span>
        <span>租赁规则</span>
        <span>免押金申请</span>
    </header>
    <!--banner-->
    <nav>
        <ul class="banner">
            <li>
                <a href="javascript:;"><img src="../static/img/banner.png" alt=""></a>
            </li>
            <li>
                <a href=""><img src="../static/img/banner2.png" alt=""></a>
            </li>
        </ul>
        <div class="dian">
            <div></div>
            <div></div>
        </div>
        <div class="login">
            <img src="../static/img/icon2.png" alt="">
            <p>已登录</p>
        </div>
    </nav>
    <!--rental-->
    <section class="rental">
        <div class="rental-head">
            <span>租赁流程 Rental Procedure</span>
            <div class="btn"><img src="../static/img/xiala.png" alt=""></div>
        </div>
        <ul class="procedure">
            <li>
                <div class="icons">

                    <i class="iconfont icon-zhuceshenpi"></i><p>注册</p>
                </div>
                <div class="index">
                    1
                </div>
            </li>
            <li>
                <div class="icons">

                    <i class="iconfont icon-yajin"></i><p>免押金申请</p>
                </div>
                <div class="index">
                    2
                </div>
            </li>

            <li>
                <div class="icons">

                    <i class="iconfont icon-tongguo"></i><p>待审核</p>
                </div>
                <div class="index">
                    3
                </div>
            </li>
            <li>
                <div class="icons">

                    <i class="iconfont icon-yiwencopy"></i><p>是否审核通过</p>
                </div>
                <div class="index">
                    4
                </div>
            </li>
            <li>
                <div class="icons">

                    <i class="iconfont icon-zhifu-01"></i><p>支付</p>
                </div>
                <div class="index">
                    5
                </div>
            </li>

            <li>
                <div class="icons">

                    <i class="iconfont icon-qiandao"></i><p>签约</p>
                </div>
                <div class="index">
                   6
                </div>
            </li>
            <li>
                <div class="icons">

                    <i class="iconfont icon-icon-receive"></i><p>收货</p>
                </div>
                <div class="index">
                   7
                </div>
            </li>
            <li>
                <div class="icons">

                    <i class="iconfont icon-kefu"></i><p>联系客服</p>
                </div>
                <div class="index">
                    8
                </div>
            </li>
        </ul>
    </section>
    <!--order-->
    <section class="order">
        <div class="order-head">
            <span>下单前提示 Before Order</span>
            <div class="btn">个人用户<img src="../static/img/xiala.png" alt=""></div>
        </div>
        <ul class="order-details">
            <li>
                <div class="details-icon">
                    <i class="iconfont icon-geren5"></i>
                </div>
                <div class="details-words">
                    <p>
                        芝麻分650分左右，就有机会获得免押金额度。全国均可享受快递包邮发货。全新设备须购买意外险。保修激活保险后，可免赔产品损坏赔偿费。
                    </p>
                </div>
            </li>
            <li>
                <div class="details-icon">
                    <i class="iconfont icon-geren5"></i>

                </div>
                <div class="details-icon">
                    <i class="iconfont icon-geren"></i>
                </div>
                <div class="details-words">
                    <p>
                        每月15号中午12点,系统自动扣除所有订单月租。<br>
                        <b>起租日=发货日+3天</b>
                    </p>
                </div>
            </li>
        </ul>
    </section>
    <!--service-->
    <section class="service">
        <div class="service-head">
            服务条款<i class="iconfont icon-bi"></i>
        </div>
        <ul class="service-list">
            <li>
                <p>
                    <span></span>乙方应向甲方提供网络文化经营许可证复印件、营业执照复印件、法定代表人身份证复印件以及签署委托代付款证明。
                </p>
            </li>
            <li>
                <p>
                    <span></span>    租赁期内，按协议之约定按时、足额向甲方支付租金。在约定日未足额支付租金的，每日需要向甲方支付逾期手续费，金额为本合同约定的每月租金总金额的10‰/日；
                </p>
            </li>
            <li>
                <p>
                    <span></span>租赁期内，乙方应合理使用，妥善保管承租的电脑设备；负责电脑设备日常的保洁、摆放整理工作。
                </p>
            </li>
            <li>
                <p>
                    <span></span>乙方发现电脑设备发生故障或者损坏后，应当立即通知甲方，如果属人为损坏，在赔偿直接责任人没有做出赔偿前，由乙方先向甲方按损毁设备原值赔偿甲方损失，乙方对甲方进行赔偿后具有向直接责任人请求赔偿的权利。若设备在租赁期间因任何原因丢失或实质性报废，乙方应在情形发生之日起 7 日内按照附件一所列设备等同价值或当时设备市场价值进行赔偿。
                </p>
            </li>
            <li>
                <p>
                    <span></span>租赁期间，租赁物遗失、失窃、非正常原因损坏的(包括火灾、水灾等)，由乙方根据国家会计准则折旧后的设备价值赔偿。
                </p>
            </li>
            <li>
                <p>
                    <span></span>租赁期内，乙方除自用外，不得对承租电脑作任何处分（包括但不限于转让、转租、抵押、质押、赠与、信托、托管，转移地点）。
                </p>
            </li>
            <li>
                <p>
                    <span></span>租赁期内，乙方保证遵守中华人民共和国各项法律、法规，保证不被勒令停业整顿、吊销网吧经营许可证；保证租赁期内正常营业、不得无故歇业、停业。
                </p>
            </li>
            <li>
                <p>
                    <span></span>租赁期内，乙方不得与其他组织或个人进行本协议同类业务的合作，否则将视为乙方违约。
                </p>
            </li>
            <li>
                <p>
                    <span></span>在订单约定租期结束前承租方提前退租所产生的运费，以及由承租方人为原因导致的设备退回或维修所产生的费用均由承租方承担，若正常租期到期或正常硬件故障导致的设备退回或维修则由出租方承担；
                </p>
            </li>
        </ul>
    </section>
    <!--contact-->
    <section class="contact">
        <div class="contact-content">
            <div class="content-us">
                <p><b>联系客服</b>Contact Us</p>
            </div>
            <div class="content-phone">
                <i class="iconfont icon-dianhua2"></i><p><b>0 2 9 - 8 1 1 4 - 4 6 4 3</b></p>
            </div>
            <div class="content-img">
                <img src="../static/img/xiala.png" alt="">
            </div>
            <div class="content-time">
                <i class="iconfont icon-geren5"></i><p>(服务时间：周一至周日9:00-20:00)</p>
            </div>
        </div>
    </section>


    <!--底部-->
    <footer>
        <div class="company">
            <div class="company-img">
                <img src="../static/img/foot_logo.png" alt="">
            </div>
            <div class="company-font">
                © 2018年陕西趣租乐网络科技有限公司. 陕ICP备18010044号-1
            </div>
        </div>
    </footer>
    <!--返回顶部-->
    <div class="back">
        <img src="../static/img/icon3.png" alt="">
    </div>
</body>

</html>



