<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/shop.css">
    <script src="../static/js/rem.js"></script>
    <title>Document</title>
</head>
<body onload="loaded()">
<!--头部-->
<header>
    <span>首页</span>
    <span>电子合同</span>
    <span>租赁规则</span>
    <span>免押金申请</span>
</header>
<!--购物车列表-->
<section  class="shop">
    <div class="shop-head">
        <div class="head-img">
            <img src="../static/img/address.png" alt="">
        </div>
        <div class="head-span">
            <p>购物车</p>
        </div>
        <div class="head-kong"></div>
    </div>
    <div id="wrapper">
        <ul>
            <li>
                <div class="list">
                    <div class="list-img">
                        <img src="../static/img/pjt2-01.png" alt="">
                    </div>
                    <div class="list-words">
                        <div class="words-top">
                            <p>网吧 I5 8G 1063</p>
                        </div>
                        <div class="words-center">
                            <p>租赁开始时间：2018-06-25</p>
                            <p>时长：1个月</p>
                        </div>
                        <div class="words-bottom">
                            <p>￥ 210/月</p>
                            <span>
                                <div>-</div>
                                <div>0</div>
                                <div>+</div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <div class="total-top">
                        <span>共</span><p>2</p><span>件</span><span>合计:</span><span>￥</span><p>420</p>
                    </div>
                    <div class="total-bottom">
                        <p>删除订单</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="list">
                    <div class="list-img">
                        <img src="../static/img/pjt2-01.png" alt="">
                    </div>
                    <div class="list-words">
                        <div class="words-top">
                            <p>网吧 I5 8G 1063</p>
                        </div>
                        <div class="words-center">
                            <p>租赁开始时间：2018-06-25</p>
                            <p>时长：1个月</p>
                        </div>
                        <div class="words-bottom">
                            <p>￥ 210/月</p>
                            <span>
                                <div>-</div>
                                <div>0</div>
                                <div>+</div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <div class="total-top">
                        <span>共</span><p>2</p><span>件</span><span>合计:</span><span>￥</span><p>420</p>
                    </div>
                    <div class="total-bottom">
                        <p>删除订单</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="list">
                    <div class="list-img">
                        <img src="../static/img/pjt2-01.png" alt="">
                    </div>
                    <div class="list-words">
                        <div class="words-top">
                            <p>网吧 I5 8G 1063</p>
                        </div>
                        <div class="words-center">
                            <p>租赁开始时间：2018-06-25</p>
                            <p>时长：1个月</p>
                        </div>
                        <div class="words-bottom">
                            <p>￥ 210/月</p>
                            <span>
                                <div>-</div>
                                <div>0</div>
                                <div>+</div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <div class="total-top">
                        <span>共</span><p>2</p><span>件</span><span>合计:</span><span>￥</span><p>420</p>
                    </div>
                    <div class="total-bottom">
                        <p>删除订单</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="list">
                    <div class="list-img">
                        <img src="../static/img/pjt2-01.png" alt="">
                    </div>
                    <div class="list-words">
                        <div class="words-top">
                            <p>网吧 I5 8G 1063</p>
                        </div>
                        <div class="words-center">
                            <p>租赁开始时间：2018-06-25</p>
                            <p>时长：1个月</p>
                        </div>
                        <div class="words-bottom">
                            <p>￥ 210/月</p>
                            <span>
                                <div>-</div>
                                <div>0</div>
                                <div>+</div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <div class="total-top">
                        <span>共</span><p>2</p><span>件</span><span>合计:</span><span>￥</span><p>420</p>
                    </div>
                    <div class="total-bottom">
                        <p>删除订单</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="list">
                    <div class="list-img">
                        <img src="../static/img/pjt2-01.png" alt="">
                    </div>
                    <div class="list-words">
                        <div class="words-top">
                            <p>网吧 I5 8G 1063</p>
                        </div>
                        <div class="words-center">
                            <p>租赁开始时间：2018-06-25</p>
                            <p>时长：1个月</p>
                        </div>
                        <div class="words-bottom">
                            <p>￥ 210/月</p>
                            <span>
                                <div>-</div>
                                <div>0</div>
                                <div>+</div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <div class="total-top">
                        <span>共</span><p>2</p><span>件</span><span>合计:</span><span>￥</span><p>420</p>
                    </div>
                    <div class="total-bottom">
                        <p>删除订单</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="list">
                    <div class="list-img">
                        <img src="../static/img/pjt2-01.png" alt="">
                    </div>
                    <div class="list-words">
                        <div class="words-top">
                            <p>网吧 I5 8G 1063</p>
                        </div>
                        <div class="words-center">
                            <p>租赁开始时间：2018-06-25</p>
                            <p>时长：1个月</p>
                        </div>
                        <div class="words-bottom">
                            <p>￥ 210/月</p>
                            <span>
                                <div>-</div>
                                <div>0</div>
                                <div>+</div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <div class="total-top">
                        <span>共</span><p>2</p><span>件</span><span>合计:</span><span>￥</span><p>420</p>
                    </div>
                    <div class="total-bottom">
                        <p>删除订单</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="list">
                    <div class="list-img">
                        <img src="../static/img/pjt2-01.png" alt="">
                    </div>
                    <div class="list-words">
                        <div class="words-top">
                            <p>网吧 I5 8G 1063</p>
                        </div>
                        <div class="words-center">
                            <p>租赁开始时间：2018-06-25</p>
                            <p>时长：1个月</p>
                        </div>
                        <div class="words-bottom">
                            <p>￥ 210/月</p>
                            <span>
                                <div>-</div>
                                <div>0</div>
                                <div>+</div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <div class="total-top">
                        <span>共</span><p>2</p><span>件</span><span>合计:</span><span>￥</span><p>420</p>
                    </div>
                    <div class="total-bottom">
                        <p>删除订单</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="shop-take">
        <div class="take-s">
            <div class="s-top">
                <p>收货人：薄荷</p>
                <p>18700787240</p>
            </div>
            <div class="s-center">
                <p>收货地址：陕西省西安市雁塔区紫薇田园都市F区390号</p>
                <img src="../static/img/you.png" alt="">
            </div>
        </div>
        <div class="take-x">
            <div class="x-span">
                <span>应付租金/月:</span><span>￥</span><p>840</p><span>总计:</span><p>4</p>
            </div>
            <button>提交订单</button>
        </div>
    </div>
</section>
<!--底部-->
<footer>
    <div class="company">
        <div class="company-img">
            <img src="../static/img/foot_logo.png" alt="">
        </div>
        <div class="company-font">
            © 2018年陕西趣租乐网络科技有限公司. 陕ICP备18010044号-1
        </div>
    </div>
</footer>
</body>
<script src="../static/js/iscroll.js"></script>
<script src="../static/js/shop.js"></script>
</html>



