<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/account.css">
    <title>Document</title>
</head>
<body>
    <section class="header">
        <div class="head">
            <div class="head-left">
                <span>账户设置</span>
            </div>
            <div class="head-right">
                <img src="../static/image/shua.png" alt="">
                <a href="">刷新</a>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="main-head">
            <span>
                账户设置
            </span>
        </div>
        <div class="main-content">
            <div class="main-content-user">
                <img src="../static/image/user1.png" alt="">
                <a>上传头像</a>
            </div>
            <div class="main-content-pass">
                <ul>
                    <li>
                        <div class="pass-word">
                            <span>* &nbsp;</span><span>用户名 : </span>
                        </div>
                        <input type="text" placeholder="admin" readonly="readonly">
                    </li>
                    <li>
                        <div class="pass-word">
                            <span>* &nbsp;</span><span>电话 : </span>
                        </div>

                        <input type="text" placeholder="18888888888" readonly="readonly">
                    </li>
                    <li>
                        <div class="pass-word">
                            <span>* &nbsp;</span><span>旧密码 : </span>
                        </div>

                        <input type="text" placeholder="">
                    </li>
                    <li>
                        <div class="pass-word">
                            <span>* &nbsp;</span><span>新密码 : </span>
                        </div>

                        <input type="text" placeholder="">
                    </li>
                    <li>
                        <div class="pass-word">
                            <span>* &nbsp;</span><span>确认密码 : </span>
                        </div>

                        <input type="text" placeholder="">
                    </li>
                </ul>
                <button>提交</button>
            </div>
        </div>
    </section>
</body>
</html>