<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/logging.css">
    <link rel="stylesheet" href="../static/css/paging.css">
    <title>Document</title>
</head>
<body>
    <section class="header">
      <div class="head">
          <div class="head-left">
              <span>登陆日志</span>
          </div>
          <div class="head-right">
              <img src="../static/image/shua.png" alt="">
              <a href="">刷新</a>
          </div>
      </div>
    </section>
    <section class="main">
        <div class="main-head">
            <span>系统信息</span>
        </div>
        <div class="main-content">
            <table>
                <tr>
                    <th><b>时间</b></th>
                    <th><b>IP</b></th>
                    <th><b>地区</b></th>
                </tr>
                <tr>
                    <td>
                        2017-07-03 14:36:21
                    </td>
                    <td>183.14.135.1</td>
                    <td>广东省深圳市</td>
                </tr>
                <tr>
                    <td>
                        2017-07-03 14:36:21
                    </td>
                    <td>183.14.135.1</td>
                    <td>广东省深圳市</td>
                </tr>
                <tr>
                    <td>
                        2017-07-03 14:36:21
                    </td>
                    <td>183.14.135.1</td>
                    <td>广东省深圳市</td>
                </tr>
                <tr>
                    <td>
                        2017-07-03 14:36:21
                    </td>
                    <td>183.14.135.1</td>
                    <td>广东省深圳市</td>
                </tr>
                <tr>
                    <td>
                        2017-07-03 14:36:21
                    </td>
                    <td>183.14.135.1</td>
                    <td>广东省深圳市</td>
                </tr>
                <tr>
                    <td>
                        2017-07-03 14:36:21
                    </td>
                    <td>183.14.135.1</td>
                    <td>广东省深圳市</td>
                </tr>
                <tr>
                    <td>
                        2017-07-03 14:36:21
                    </td>
                    <td>183.14.135.1</td>
                    <td>广东省深圳市</td>
                </tr>
                <tr>
                    <td>
                        2017-07-03 14:36:21
                    </td>
                    <td>183.14.135.1</td>
                    <td>广东省深圳市</td>
                </tr>
                <tr>
                    <td>
                        2017-07-03 14:36:21
                    </td>
                    <td>183.14.135.1</td>
                    <td>广东省深圳市</td>
                </tr>
                <tr>
                    <td>
                        2017-07-03 14:36:21
                    </td>
                    <td>183.14.135.1</td>
                    <td>广东省深圳市</td>
                </tr>
            </table>
            <div class="yema">
                <div id="box" class="box"></div>
            </div>
        </div>
    </section>
</body>
<script src="../static/js/paging.min.js"></script>
</html>
