<!doctype html>
<html lang="en"  style="width: 100%;height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/system.css">
    <!--<script src="../static/js/system.js"></script>-->
    <title>Document</title>
</head>
<body style="width: 100%;height: 100%;">

    <!--导航-->
    <section class="header">
        <div class="head">
            <div class="head-left">
                <span>系统首页</span>
            </div>
            <div class="head-right">
                <img src="../static/image/shua.png" alt="">
                <a href="">刷新</a>
            </div>
        </div>
    </section>
    <section class="system">
        <div class="system-list">
            <div class="list-cow">
                <div class="cow-img">
                    <img src="../static/image/list1.png" alt="">
                </div>
                <div class="cow-words">
                    <span>今日订单总数</span>
                    <p>200</p>
                </div>
            </div>
            <div class="list-cow">
                <div class="cow-img">
                    <img src="../static/image/list2.png" alt="">
                </div>
                <div class="cow-words">
                    <span>今日销售总额</span>
                    <p>￥5000.00</p>
                </div>
            </div>
            <div class="list-cow">
                <div class="cow-img">
                    <img src="../static/image/list3.png" alt="">
                </div>
                <div class="cow-words">
                    <span>昨日销售总额</span>
                    <p>￥5000.00</p>
                </div>
            </div>
            <div class="list-cow">
            <div class="cow-img">
                <img src="../static/image/list4.png" alt="">
            </div>
            <div class="cow-words">
                <span>近7天销售总额</span>
                <p>￥50000.00</p>
            </div>
        </div>
        </div>
        <div class="affair">
            <div class="affair-head">
                <span>
                    <b>待处理事务</b>
                </span>
            </div>
            <ul>
                <li>
                    <a href="">待付款订单</a>
                    <p>(<span>10</span>)</p>
                </li>
                <li>
                    <a href="">待付款订单</a>
                    <p>(<span>10</span>)</p>
                </li>
                <li>
                    <a href="">待付款订单</a>
                    <p>(<span>10</span>)</p>
                </li>
                <li>
                    <a href="">待付款订单</a>
                    <p>(<span>10</span>)</p>
                </li>
                <li>
                    <a href="">待付款订单</a>
                    <p>(<span>10</span>)</p>
                </li>
                <li>
                    <a href="">待付款订单</a>
                    <p>(<span>10</span>)</p>
                </li>
                <li>
                    <a href="">待付款订单</a>
                    <p>(<span>10</span>)</p>
                </li>
                <li>
                    <a href="">待付款订单</a>
                    <p>(<span>10</span>)</p>
                </li>
                <li>
                    <a href="">待付款订单</a>
                    <p>(<span>10</span>)</p>
                </li>
            </ul>
        </div>
        <div class="overview">
            <div class="overview-left">
                <div class="over-left-head">
                    <span>
                        <b>商品总览</b>
                    </span>
                </div>
                <ul>
                    <li>
                        <span>
                            100
                        </span>
                        <p>
                            已下架
                        </p>
                    </li>
                    <li>
                        <span>
                            100
                        </span>
                        <p>
                            已下架
                        </p>
                    </li>
                    <li>
                        <span>
                            100
                        </span>
                        <p>
                            已下架
                        </p>
                    </li>
                    <li>
                        <span>
                            100
                        </span>
                        <p>
                            已下架
                        </p>
                    </li>

                </ul>
            </div>
            <div class="overview-left">
                <div class="over-left-head">
                    <span>
                        <b>商品总览</b>
                    </span>
                </div>
                <ul>
                    <li>
                        <span>
                            100
                        </span>
                        <p>
                            已下架
                        </p>
                    </li>
                    <li>
                        <span>
                            100
                        </span>
                        <p>
                            已下架
                        </p>
                    </li>
                    <li>
                        <span>
                            100
                        </span>
                        <p>
                            已下架
                        </p>
                    </li>
                    <li>
                        <span>
                            100
                        </span>
                        <p>
                            已下架
                        </p>
                    </li>

                </ul>
            </div>
        </div>
        <div class="statistical1">
            <div class="statistical1-head">
                <span>
                    <b>订单统计</b>
                </span>
            </div>
            <div class="statistical1-foot">
                <div class="stat-foot-left">
                    <div class="zi">
                        <span>
                            本月订单总数
                        </span>
                        <span>10000   &nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span>
                            <img src="../static/image/shang.png" alt="">10%
                        </span>
                        <span>同比上周</span>
                    </div>
                    <div class="zi" style="margin-top: 30px">
                        <span>
                            本月订单总数
                        </span>
                        <span>10000   &nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span style="color: #F14844;">
                            <img src="../static/image/xia.png" alt="">10%
                        </span>
                        <span>同比上周</span>
                    </div>
                </div>
                <div  class="stat-foot-right">
                    <div class="foot-right-head">

                    </div>
                    <div id="main">

                    </div>
                </div>
            </div>
        </div>
        <div class="statistical1">
            <div class="statistical1-head">
                <span>
                    <b>销售统计</b>
                </span>
            </div>
            <div class="statistical1-foot">
                <div class="stat-foot-left">
                    <div class="zi">
                        <span>
                            本月订单总数
                        </span>
                        <span>10000   &nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span>
                            <img src="../static/image/shang.png" alt="">10%
                        </span>
                        <span>同比上周</span>
                    </div>
                    <div class="zi" style="margin-top: 30px">
                        <span>
                            本月订单总数
                        </span>
                        <span>10000   &nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span style="color: #F14844;">
                            <img src="../static/image/xia.png" alt="">10%
                        </span>
                        <span>同比上周</span>
                    </div>
                </div>
                <div  class="stat-foot-right">
                    <div class="foot-right-head">
                        <div class="fr-span">
                            <span>
                                近一周订单统计
                            </span>
                        </div>
                        <div class="fr-right">
                            <div class="fr-right-left">
                                <span>
                                    今日
                                </span>
                                <span>
                                    本周
                                </span>
                                <span>
                                    本月
                                </span>
                            </div>
                            <div class="fr-right-right">

                            </div>
                        </div>
                    </div>
                    <div id="main1">
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>